.about {
    background-color: $white;
    font-family: Arial;
    color: $off-black;
    padding: 10px;
    height: 100%;
 
}

.my-5 {
    font-size: $l-size;
    font-weight: 300; 
    text-align: center; 
    font-family: Lucida Bright;
    
}

.col-sm-6 {
    text-align: center; 
    overflow-wrap: break-word;
}

.my-5:after {
    content: ""; 
    display: block;
    margin: 0 auto;
    width: 30%;
    height: 100%;
    padding-top: 6px;
    border-bottom: 1px solid $pastel-pink;
}

.circular--portrait {
    border-top-left-radius: 50% 50%;
    border-top-right-radius: 50% 50%;
    border-bottom-right-radius: 50% 50%;
    border-bottom-left-radius: 50% 50%;
    overflow: hidden;
    position: relative;
    width: 100px;
    height: 100px;
    object-fit: cover;
    object-position: top;
    display: block;
    margin: 0 auto;
    
}

.bio {
    font-size: 50px;
}

 @media (min-width: $tablet-portrait-breakpoint) {
    .about {
        padding: 40px;
       
    }

    .circular--portrait {
        width: 200px;
        height: 200px;
       
    }

    .my-5:after {
        width: 40%;
        padding-top: 10px;
        border-bottom: 3px solid $pastel-pink;
    }
 }

 @media (min-width: $desktop-breakpoint) {
    .circular--portrait {
        width: 400px;
        height: 400px;
    }
 }