.about {
  background-color: #eff1f3;
  color: $off-black;
  padding: 0 30px;
  height: 430px;
  margin: 0 auto !important;
}

.circular--portrait {
  border-top-left-radius: 50% 50%;
  border-top-right-radius: 50% 50%;
  border-bottom-right-radius: 50% 50%;
  border-bottom-left-radius: 50% 50%;
  overflow: hidden;
  position: relative;
  width: 100px;
  height: 100px;
  object-fit: cover;
  object-position: top;
  display: block;
  margin: 0 auto;
  top: 20px;
}

.bio {
  font-size: 14px;
  margin-top: 40px;
  text-align: center;
  overflow-wrap: break-word;
}

@media (min-width: $mobile-breakpoint) {
  .about {
    padding: 0 100px;
    height: 380px;
  }

  .bio {
    font-size: 16px;
    margin-top: 50px;
  }
}

@media (min-width: $tablet-landscape-breakpoint) {
  .circular--portrait {
    width: 150px;
    height: 150px;
  }

  .about {
    padding: 0 110px;
    height: 400px;
  }

  .bio {
    font-size: 18px;
    margin-top: 50px;
  }
}
