.main-footer {
  background-color: #360000;
  width: 100%;
  padding: 0.5em 0;
  position: relative;
}

.row-sm {
  font-size: 12px;
  padding-left: 18px;
  color: #eff1f3;
}

@media (min-width: $desktop-breakpoint) {
  .main-footer {
    padding: 10px 0px;
    font-size: $xs-size;
  }

  .row-sm {
    font-size: 12px;
    padding-left: 25px;
  }
}
