.navbar .nav {
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
    font-size: $m-size;
    letter-spacing: 2px;
}

.nav a {
  color: $pastel-pink;
  letter-spacing: 1px;
  margin-right: 18px;
  
  &:hover { color: white; }

}
  
.navbar { background-color: $off-black; }
  .navbar-nav, .navbar-right {
    color: #9FFFCB;
    &:hover { color: white; }
  }


  @media (min-width: $desktop-breakpoint) {
  .navbar .nav {
    letter-spacing: 3px;
  }

  .nav a {
    margin-right: 15px;
    letter-spacing: 2;
    font-size: $xs-size;
  }
}