.resume {
    font-family: Lucida Bright;
    padding: 10px 0;
    height: 50vh;
    background-position: center center;
    background-blend-mode: darken;
    -webkit-filter: brightness(0.6);
    filter: brightness(0.6);
   
}

.my-7 {
    padding-top: 15vh;
    padding-right: 10vw;
    position: relative;
    color: lighten($white,50%);
    font-size: $xl-size;
    font-weight: 400; 
    text-align: right; 
    top:0;
    left:0;
}

.my-8 {
    padding-top: 0vh;
    padding-right: 10vw;
    position: relative;
    color: lighten($white,50%);
    font-size: $xl-size;
    font-weight: 400; 
    text-align: right; 
    top:0;
    left:0;
}

.button{
    background-color: rgba(0,0,0,0.12);
    text-transform: uppercase;
    font-family: Arial;
    padding: 9px 16px;
    color: $white;
    border: 2px solid $pastel-pink; 
    font-weight: 1000;
    position: absolute;
    font-size: $s-size;
    letter-spacing: 0.3rem;
    margin-top: 3vh;
    margin-left: 46vw;
    display: block;
    
}

.button:hover {
    color: $pastel-pink;
    filter:brightness(80%);
}

@media (min-width: 590px) {
    .resume {
        height: 100vh;
    }
    
    .my-7 {
        padding-top: 25vh;
        padding-right: 8vw;
    }

    .my-8 {
        padding-right: 8vw;
    }

    .button {
        background-color: rgba(0,0,0,0.1);
        padding: 15px 38px;
        margin-left: 55vw;
        font-weight: 800;
        letter-spacing: 0.2rem;
    }
 }

 @media (min-width: $tablet-landscape-breakpoint) {
    .resume {
        height: 100vh;
    }

    .my-7 {
        padding-top: 30vh;
        padding-right: 10vw;
        font-weight: 300; 
        font-size: $l-size;
    }

    .my-8 {
        padding-right: 10vw;
        font-weight: 300; 
        font-size: $l-size;
    }

    .button {
        padding: 20px 45px;
        margin-top: 5vh;
        font-size: $xs-size;
        margin-left: 60vw;
        border: 3px solid $pastel-pink;
    }
}

@media (min-width: $desktop-breakpoint) {
    .button {
        margin-left: 63vw;
    }
}
   
 