.resume {
    font-family: Lucida Bright;
    padding: 10px 0;
    height: 50vh;
    background-position: center center;
    background-blend-mode: darken;
    -webkit-filter: brightness(0.6);
    filter: brightness(0.6);
   
}

.my-7 {
    padding-top: 15vh;
    padding-left: 18vw;
    position: relative;
    color: lighten($white,50%);
    font-size: $xl-size;
    font-weight: 400; 
    text-align: left; 
    top:0;
    left:0;
}

.my-8 {
    padding-top: 0vh;
    padding-left: 18vw;
    position: relative;
    color: lighten($white,50%);
    font-size: $xl-size;
    font-weight: 400; 
    text-align: left; 
    top:0;
    left:0;
}

.button{
    background-color: rgba(0,0,0,0.12);
    text-transform: uppercase;
    font-family: Arial;
    padding: 10px 20px;
    color: $white;
    border: 2px solid $pastel-pink; 
    font-weight: 1000;
    position: absolute;
    font-size: $s-size;
    letter-spacing: 0.3rem;
    margin-top: 3vh;
    margin-left: 18vw;
    display: block;
    
}

.button:hover {
    color: $pastel-pink;
    filter:brightness(80%);
}

@media (min-width: 590px) {
    .my-7 {
        padding-top: 15vh;
        padding-left: 20vw;
    }

    .my-8 {
        padding-left: 20vw;
    }

    .button {
        background-color: rgba(0,0,0,0.1);
        padding: 15px 50px;
        margin-left: 20vw;
        font-weight: 800;
        letter-spacing: 0.2rem;
    }
 }

 @media (min-width: $tablet-landscape-breakpoint) {
    .resume {
        height: 100vh;
    }

    .my-7 {
        padding-top: 30vh;
        padding-left: 20vw;
        font-weight: 300; 
        font-size: $l-size;
    }

    .my-8 {
        padding-left: 20vw;
        font-weight: 300; 
        font-size: $l-size;
    }

    .button {
        padding: 20px 55px;
        margin-top: 5vh;
        font-size: $xs-size;
        margin-left: 20vw;
       
        border: 3px solid $pastel-pink;
    }
   
 }