.skills {
    background-color: $white;
    font-family: Arial;
    color: $green;
    
}


 @media (min-width: 590px) {
    .skills {
        padding-top: 125px;
    }
 }


 @media (min-width: $desktop-breakpoint) {
    .skills {
        padding-top: 190px;
    }
 }