.social-container {
    padding: 5px 0px;
    margin: 10 auto;
  }


a.social {
    transition: transform 250ms;
    padding: 2px;
    size: 6x;
    margin: 0 1rem;
}

a.social:hover {
    transform: translateY(-2px);
}

a.telegram {
    color: #0088cc;
}

a.gmail {
    color: #4285F4;
}

a.github {
    color: black;
}

a.linkedin {
    color: #0e76a8;
}

a.instagram {
    color: #e4405f;
}

@media (min-width: $tablet-landscape-breakpoint) {
    .social-container {
    padding: 10px 0px;
  }

  a.social {
    transition: transform 250ms;
    padding: 5px;
    size: 6x;
}
}
