.big-button {
    background: $brown;
    border: none;
    border-bottom: .6rem solid darken($brown, 10%);
    color: white;
    font-weight: bold;
    font-size: $l-size;
    padding: 1.6rem;
    width: 100%;
    margin-bottom: $m-size;
}

.button {
    background: $brown;
    border: none;
    border-bottom: .3rem solid darken($brown, 10%);
    color: white;
    font-weight: 500;
    padding: $s-size;
}


.button--link {
    background: none;
    border: none;
    color: $off-white;
    padding: 0;
}

.button--link:disabled {
    opacity: 0.5;
}

@media (min-width: $desktop-breakpoint) {
    .big-button {
        margin-bottom: $l-size;
    }

    .add-review__input {
        margin: 0 $s-size 0 0;
    }
}