.header {
    background: $brown;
    border-bottom: .6rem solid darken($brown, 10%);
    color: rgb(240, 138, 155);
    margin-bottom: $m-size;
    padding: $m-size 0;
}

//BEM - block element modifier
.header__title {
    font-size: $l-size;
    margin: 0;
}

.header__subtitle {
    color: $off-white;
    font-size:$m-size;
    font-weight: 500;
    margin: 0;
}

@media (min-width: $desktop-breakpoint) {
    .header {
        margin-bottom: $l-size;
    }
}