    //Colour
    $off-black: #20222b;
    $off-white: #f5fbf9;
    $green: #75b4c0;
    $brown: #dfc7c1;
    $beige: #f4dcd6;
    $barley-grey: #f7f7f7;
    $grey: #ebe5e6;
    $white: #f6f2ee;
    $silk: #dcd0c0;
    $pastel-pink: #e7cfc8;
    $light-blue: #E5EDEA;
    $purple-pink: #bc85A3;


    //Spacing
    $xs-size: 0.8rem;
    $s-size: 1.2rem;
    $m-size: 1.6rem;
    $l-size: 3.2rem;
    $xl-size: 4.8rem;

    //breakpoint
    $mobile-breakpoint: 640px;
    $tablet-portrait-breakpoint: 768px;
    $tablet-landscape-breakpoint: 1024px;
    $desktop-breakpoint: 1280px;